*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.main_box{
    background: url("camera.jpg");
    height: 100vh;
    background-size: cover;
}

#btn_settings{
    font-size: 30px;
    color: white;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
}

#btn_close{
    color: white;
    font-size: 25px;
    line-height: 60px;
    position: absolute;
    left: 270px;
}


.sidebar{
    position: fixed;
    /* left: -350px; */
    height: 100vh;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0.2px 0.2px 6px white;
}   

.sidebar .logo{
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0.2px 0.2px 6px white;

}

.sidebar .logo a{
    position: absolute;
    left: 50px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.sidebar .menu{
    position: absolute; 
    width: 100%;
    top: 80px;
}

.sidebar .menu li{
    margin-top: 6px;
    padding: 14px 20px;
}

.sidebar .menu i,a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.sidebar i{
    padding: 5px;
}

.sidebar .social_media{
    color: white;
    opacity: 0.5;
    position: absolute;
    left: 25% ;
    bottom: 100px;
}

#check{
    display: none;
}